@use "../settings/settings";
@use "../settings/radius";
@use "../settings/shadows";


.c-box-shadow {

  // border radius
  &--radius-1 {
    border-radius: radius.$radius-1;
  }

  &--radius-2 {
    border-radius: radius.$radius-2;
  }

  &--radius-3 {
    border-radius: radius.$radius-3;
  }

  &--radius-4 {
    border-radius: radius.$radius-4;
  }

  // elevation (shadow depth)
  &--elevation-1 {
    box-shadow: shadows.$elevation-0;
  }

  &--elevation-2 {
    box-shadow: shadows.$elevation-1;
  }

  &--elevation-3 {
    box-shadow: shadows.$elevation-2;
  }

  &--elevation-4 {
    box-shadow: shadows.$elevation-3;
  }

  &--elevation-5 {
    box-shadow: shadows.$elevation-4;
  }
}
