@use '../settings/settings';
@use "../settings/colors";
@use "../settings/radius";
@use "../settings/shadows";
@use "../settings/spaces";


.c-pagination {
  width: 100%;
  :global {
    .pagination {
      display: flex !important;
      justify-content: center;
      margin-top: spaces.$space-5;

      .page {
        color: colors.$color-brand-primary-300;
        background: colors.$color-structural-white;
        border-radius: radius.$radius-2;
        box-shadow: shadows.$elevation-4;
        height: spaces.$space-4;
        width: spaces.$space-4;
        margin: auto 6px;
        display: table;
        text-align: center;

        a {
          display: table-cell;
          vertical-align: middle;
        }

        &.active {
          background: colors.$color-brand-primary-300;
          a {
            color: colors.$color-structural-white;
          }
        }
      }
    }
  }
}
