@use "../settings/colors";
@use "../settings/radius";
@use "../settings/width";
@use "../settings/height";
@use "../settings/spaces";

.c-shape-action {
  border: solid 1px colors.$color-brand-gray-300;
  padding: 0;
  margin: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: transparent;

  &--is-link {
    a:link {
      color: colors.$color-white;
      display: flex;
    };
  }

  &--white {
    color: colors.$color-white;
    border: solid 1px colors.$color-white;
  }

  &--gray-light {
    color: colors.$color-brand-gray-200;
    border: solid 1px colors.$color-brand-gray-200;
  }

  &--primary {
    color: colors.$color-primary;
    border: solid 1px colors.$color-primary;
  }

  &--success {
    color: colors.$color-success;
    border: solid 1px colors.$color-success;
  }

  &--danger {
    color: colors.$color-danger;
    border: solid 1px colors.$color-danger;
  }

  &--rounded {
    border-radius: radius.$radius-percent-50;
  }

  &--squared {
    border-radius: radius.$radius-2;
  }

  &--fill-gray-light,
  &--fill-primary,
  &--fill-success,
  &--fill-danger,
  &:link {
    color: colors.$color-white;
  }

  &--fill-gray-light {
    background-color: colors.$color-brand-gray-200;
    border: solid 1px colors.$color-brand-gray-200;
    color: colors.$color-brand-gray-300;
  }

  &--fill-primary {
    background-color: colors.$color-primary;
    border: solid 1px colors.$color-primary;
  }

  &--fill-success {
    background-color: colors.$color-success;
    border: solid 1px colors.$color-success;
  }

  &--fill-danger {
    background-color: colors.$color-danger;
    border: solid 1px colors.$color-danger;
  }

  &--size-0 {
    font-size: 12px !important;
    height: height.$shape-action-height - 12px;
    width: width.$shape-action-width - 12px;
    border-radius: spaces.$space-0;

    svg {
      font-size: 12px !important;
    }
  }

  &--size-1 {
    font-size: 12px !important;
    height: height.$shape-action-height - 6px;
    width: width.$shape-action-width - 6px;

    svg {
      font-size: 12px !important;
    }
  }

  &--size-2 {
    font-size: 12px !important;
    height: height.$shape-action-height - 4px;
    width: width.$shape-action-width - 4px;

    svg {
      font-size: 12px !important;
    }
  }

  &--size-3 {
    font-size: 14px !important;
    height: height.$shape-action-height - 2px;
    width: width.$shape-action-width - 2px;

    svg {
      font-size: 14px !important;
    }
  }

  &--size-4 {
    font-size: 16px !important;
    height: height.$shape-action-height;
    width: width.$shape-action-width;

    svg {
      font-size: 16px !important;
    }
  }
}
