@use "../settings/settings";
@use "../settings/colors";
@use "../settings/gradients";
@use "../settings/radius";
@use "../settings/shadows";
@use "../settings/spaces";
@use "../settings/types";
@import "~react-datepicker/dist/react-datepicker.min.css";

.c-datepicker {
  :global {


    .react-datepicker {
      border: none;
      box-shadow: shadows.$elevation-4;
      padding: 0 spaces.$space-2;

      &-wrapper {
        width: 100%;
      }

      &__input-container {
        &:after {
          content: '\f073';
          font-size: types.$font-size-md;
          position: absolute;
          font-family: types.$font-family-awesome-5-pro;
          top: spaces.$space-0;
          right: 1px;
          background-color: transparent;
          padding: spaces.$space-1 spaces.$space-2;
        }
      }

      &__navigation {
        background-color: colors.$color-structural-white;
        padding: 0;
        border-radius: radius.$radius-2;
        box-shadow: shadows.$elevation-1;
        height: spaces.$space-3;
        width: spaces.$space-3;
        border: none;
      }

      &__navigation--previous,
      &__navigation--next {
        &:after {
          content: '';
          border: solid colors.$color-brand-primary-300;
          border-width: 0 2px 2px 0;
          display: inline-block;
          height: spaces.$space-1;
          width: spaces.$space-1;
          position: absolute;
          top: 0;
          left: 0;
          margin: spaces.$space-1;
        }
      }

      &__navigation--next {
        &:after {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }

      &__navigation--previous {
        &:after {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }

      &__header {
        background-color: colors.$color-structural-white;
        font-size: types.$font-size-sm;
        font-family: types.$font-family;
        font-weight: normal;
        border-color: #ecebed;
      }

      &__day-name {
        color: colors.$color-brand-gray-200;
      }

      &__current-month {
        margin-top: spaces.$space-1;
        color: colors.$color-brand-gray-500;
        font-size: types.$font-size-md;
        font-family: types.$font-family;
        font-weight: normal;
      }

      &__month {
        font-family: types.$font-family;
        font-size: types.$font-size-sm;
      }

      &__day {
        color: colors.$color-brand-gray-500;

        &:hover {
          background: none;
          font-weight: bold;
        }

        &--today {
          color: colors.$color-brand-primary-300;
          background-color: colors.$color-brand-gray-050;
          border-radius: radius.$radius-percent-50;
          font-weight: normal;

          &:hover {
            background-color: colors.$color-brand-gray-050;
            border-radius: radius.$radius-percent-50;
          }
        }

        &--selected {
          color: colors.$color-structural-white;
          background: gradients.$gradient-brand-primary-300-100-315;
          border-radius: radius.$radius-percent-50;

          &:hover {
            background: gradients.$gradient-brand-primary-300-100-315;
            border-radius: radius.$radius-percent-50;
          }
        }

        &--outside-month {
          color: colors.$color-brand-gray-200;
        }
      }
    }
  }

  &--dark {
    background-color: colors.$color-brand-gray-500;

    :global {
      @import "~react-datepicker/dist/react-datepicker.min.css";

      .react-datepicker {
        border: none;
        box-shadow: shadows.$elevation-4;
        padding: 0 spaces.$space-2;
        background-color: colors.$color-brand-gray-500;

        &-wrapper {
          width: 100%;
        }

        &__input-container {
          &:after {
            content: '\f073';
            font-size: types.$font-size-md;
            position: absolute;
            font-family: types.$font-family-awesome-5-pro;
            top: spaces.$space-0;
            right: 1px;
            background-color: transparent;
            padding: spaces.$space-1 spaces.$space-2;
            color: colors.$color-structural-white;
          }
        }

        &__navigation {
          background-color: colors.$color-brand-gray-600;
          padding: 0;
          border-radius: radius.$radius-2;
          box-shadow: shadows.$elevation-1;
          height: spaces.$space-3;
          width: spaces.$space-3;
          border: none;
        }

        &__navigation--previous,
        &__navigation--next {
          &:after {
            content: '';
            border: solid colors.$color-brand-primary-300;
            border-width: 0 2px 2px 0;
            display: inline-block;
            height: spaces.$space-1;
            width: spaces.$space-1;
            position: absolute;
            top: 0;
            left: 0;
            margin: spaces.$space-1;
          }
        }

        &__navigation--next {
          &:after {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
        }

        &__navigation--previous {
          &:after {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
          }
        }

        &__header {
          background-color: colors.$color-brand-gray-500;
          font-size: types.$font-size-sm;
          font-family: types.$font-family;
          font-weight: normal;
          border-color: #ecebed;
        }

        &__day-name {
          color: colors.$color-brand-gray-200;
        }

        &__current-month {
          margin-top: spaces.$space-1;
          color: colors.$color-structural-white;
          font-size: types.$font-size-md;
          font-family: types.$font-family;
          font-weight: normal;
        }

        &__month {
          font-family: types.$font-family;
          font-size: types.$font-size-sm;
        }

        &__day {
          color: colors.$color-structural-white;

          &:hover {
            background: none;
            font-weight: bold;
          }

          &--today {
            color: colors.$color-brand-primary-300;
            background-color: colors.$color-brand-gray-600;
            border-radius: radius.$radius-percent-50;
            font-weight: normal;

            &:hover {
              background-color: colors.$color-brand-gray-050;
              border-radius: radius.$radius-percent-50;
            }
          }

          &--selected {
            color: colors.$color-structural-white;
            background: gradients.$gradient-brand-primary-300-100-315;
            border-radius: radius.$radius-percent-50;

            &:hover {
              background: gradients.$gradient-brand-primary-300-100-315;
              border-radius: radius.$radius-percent-50;
            }
          }

          &--outside-month {
            color: colors.$color-brand-gray-200;
          }
        }
      }
    }
  }
}
