@use "../settings/colors";

.c-heading {
  &--gray {
    color: colors.$color-neutral-50;
  }

  &--primary {
    color: colors.$color-brand-primary-40;
  }

  &--withMargin {
    margin: 1em 0
  }

  &--light {
    font-weight: 200;
  }

  &--bold {
    font-weight: 500;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }
}
