@import '../settings/settings';
@import '../tools/mq';

:global {
  @import "~react-tabs/style/react-tabs";
}

.c-tabs {
  font-family: $font-family;

  /* Let's get this party started */
  ::-webkit-scrollbar {
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: $color-structural-gray-500;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
      background: $color-structural-gray-500;
  }

  :global {
    .react-tabs__tab-list {
      border-bottom: none;
      transition: all .3s ease-in-out;
      padding: 0 $space-4;
      margin: 0;
      display: block;
      overflow: auto hidden;
      width: 100%;
      white-space: nowrap;

      @include mq($until: tablet) {
        display: block;
        overflow-y: auto;
        width: 100%;
        white-space: nowrap;
      }
    }

    .react-tabs__tab {
      padding: $space-1;
      border: none;
      font-size: $font-size-sm;
      transition: all .3s linear;
      background-color: transparent;
      height: 36px;
      color: $color-brand-gray-200;
      position: relative;
      margin-bottom: 3px;

      display: flex;
      align-items: center;

      &-list {
        display: flex;
      }

      & + .react-tabs__tab {
        margin-left: $space-2;
      }

      @include mq($until: tablet) {
        margin: 0 12px;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        background-color: transparent;
        height: 3px;
        z-index: 30;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
        transition: background-color .3s ease-in-out;
      }

      &:hover, &:focus, &--selected {
        outline: none;
        color: $color-brand-gray-500;
        box-shadow: none;
        position: relative;

        &:after,
        &:before {
          outline: none;
        }

        &:before {
          display: none;
        }

        &:after {
          background-color: $color-primary;
        }
      }
    }
  }

  &--dark {
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $color-brand-gray-200;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: $color-brand-gray-200;
    }

    :global {
      .react-tabs__tab-list {
        background: $gradient-brand-gray-300-100-315;
      }

      .react-tabs__tab {
        &:hover, &:focus, &--selected {
          color: $color-structural-white;
        }
      }
    }
  }
}
