@use "sass:meta";
@use '../settings/settings';
@use '../tools/mq';
@use "../settings/colors";
@use "../settings/gradients";
@use "../settings/spaces";
@use "../settings/types";


:global {
  @include meta.load-css("~react-tabs/style/react-tabs");
}

.c-tabs {
  font-family: types.$font-family;

  /* Let's get this party started */
  ::-webkit-scrollbar {
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: colors.$color-neutral-secondary-50;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
      background: colors.$color-neutral-secondary-50;
  }

  :global {
    .react-tabs__tab-list {
      border-bottom: none;
      transition: all .3s ease-in-out;
      padding: 0 spaces.$space-2;
      margin: 0;
      display: block;
      overflow: auto hidden;
      width: 100%;
      white-space: nowrap;

      @include mq.mq($until: tablet) {
        padding: 0 spaces.$space-1;
      }

      @include mq.mq($until: mobile) {
        padding: 0 spaces.$space-1;
      }
    }

    .react-tabs__tab {
      padding: spaces.$space-1;
      border: none;
      font-size: types.$font-size-sm;
      transition: all .3s linear;
      background-color: transparent;
      height: 36px;
      color: colors.$color-neutral-60;
      position: relative;

      display: flex;
      align-items: center;

      &-list {
        display: flex;
      }

      & + .react-tabs__tab {
        margin-left: spaces.$space-1;
      }

      @include mq.mq($until: tablet) {
        margin: 0;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        background-color: rgba(colors.$color-primary, .25);
        height: 3px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
        transition: background-color .3s ease-in-out;
      }

      &:hover, &:focus, &--selected {
        outline: none;
        color: colors.$color-neutral-30;
        box-shadow: none;
        position: relative;

        &:after,
        &:before {
          outline: none;
        }

        &:before {
          display: none;
        }

        &:after {
          background-color: colors.$color-primary;
        }
      }
    }
  }

  &--white {
    :global {
      .react-tabs__tab-list {
        background: white;
      }
    }
  }

  &--dark {
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: colors.$color-neutral-60;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: colors.$color-neutral-60;
    }

    :global {
      .react-tabs__tab-list {
        background: gradients.$gradient-brand-gray-300-100-315;
      }

      .react-tabs__tab {
        &:hover, &:focus, &--selected {
          color: colors.$color-white;
        }
      }
    }
  }

  &--dark-secondary {
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: colors.$color-neutral-60;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: colors.$color-neutral-60;
    }

    :global {
      .react-tabs__tab-list {
        background: colors.$color-neutral-30;
      }

      .react-tabs__tab {
        &:hover, &:focus, &--selected {
          color: colors.$color-white;
        }

        &:hover, &:focus, &--selected {
          &:after {
            background-color: white;
          }
        }
      }
    }
  }
}
