@import '../settings/settings';
@import '../tools/mq';

:global {
  .rc-tabs-top .rc-tabs-bar, .rc-tabs-bar, .rc-tabs-top {
    border-bottom: none;
  }

  .rc-tabs, .rc-tabs-top, .rc-tabs-content, .rc-tabs-content-animated {
    height: 100%;
  }

  .rc-tabs-bar {
    line-height: 1em;
  }

  .rc-tabs-content {
    background-color: transparent;
  }

  .rc-tabs-tab-prev,
  .rc-tabs-tab-next {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: $space-1;
  }

  .rc-tabs-tab {
    font-family: $font-family;
    padding: $space-1;
    border: none;
    border-bottom: solid 2px transparent;
    font-size: $font-size-sm;
    transition: all .3s linear;
    background-color: transparent;
    margin-right: 0 !important;
    height: 34px;
    color: $color-brand-gray-200;

    &:hover, &-active {
      cursor: pointer;
      color: $color-brand-gray-500;
    }

    & + .rc-tabs-tab {
      margin-left: $space-2;
      margin-right: 0;
    }

    &-disabled {
      color: $color-brand-gray-050;

      &:hover {
        color: $color-brand-gray-050;
      }
    }
  }

  .rc-tabs-tabpane-active::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
}

.c-scroll-tabs {
  &--dark {
    :global {
      .rc-tabs-nav-wrap {
        background: $gradient-brand-gray-300-100-315;
      }

      .rc-tabs-tab {
        color: $color-brand-gray-200;

        &:hover, &-active {
          cursor: pointer;
          color: $color-structural-white;
        }
      }
    }
  }
}
