@import "../settings/settings";

:global {
  @import "~react-toastify/dist/ReactToastify.css";
}

.Toastify {
  &__toast {
    padding: 0 !important;
    border-radius: $radius-2 !important;
    box-shadow: $elevation-4 !important;

    &-body {
      padding: 0 !important;
      margin: 0 !important;
    }

    &--success,
    &--error,
    &--warning,
    &--info {
      background: $color-structural-gray-100 !important;
    }
  }

  &__progress-bar {
    bottom: $space-1 !important;
    left: $space-2 !important;
    right: 0 !important;
    width: 90% !important;
    border-radius: 50px !important;
    height: 6px !important;
    box-shadow: $elevation-4;

    &--success {
      background: $color-success !important;
    }

    &--error {
      background: $color-danger !important;
    }

    &--warning {
      background: $color-warning !important;
    }

    &--info {
      background: $color-brand-primary-300 !important;
    }
  }
}
