@import "../settings/settings";

:global {
  @import "~react-toastify/dist/ReactToastify.css";
}

.Toastify {
  &__toast {
    &--success {
      background: $color-success !important;
    }
    &--error {
      background: $color-danger !important;
    }
    &--warning {
      background: $color-warning !important;
    }
    &--info {
      background: $color-brand-primary-300 !important;
    }
  }
}

//TODO : Remover após implementação oficial

button.Toastify__close-button.Toastify__close-button--success {
	color: rgb(103, 115, 149);
}

.Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar--success {
	background-color: rgb(75, 202, 129);
}
.Toastify__toast--success {
    background: rgb(248, 249, 270) !important;
    padding-left: 15px;
    border-radius: 8px;
    box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.16);
    color: rgb(103, 115, 149);
    font-size: 12px;
}
