@import "../settings/settings";
@import '../tools/mq';

:global {
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
}

.c-modal,
.c-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
}

.c-modal {
  background-color: $color-structural-white;
  z-index: 9030;
  padding: $space-5 $space-4;
  transition: all .3s ease-in-out;

  &--width-1 {
    width: 530px;
  }

  &--width-2 {
    width: 1060px;
  }

  &--width-3 {
    width: 100%;
  }

  form {
    height: 100%;
  }

  @include mq($until: tablet) {
    padding: $space-3 $space-2;
  }

  @include mq($until: mobile) {
    width: 100%;
    padding: $space-2 $space-1;
  }

  &--pre-left {
    left: -100%;
  }

  &--pre-right {
    right: -100%;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &__heading {
    h3 {
      font-weight: 300;
      margin-bottom: $space-1;
    }

    p {
      font-size: 14px;
      color: $color-brand-gray-300;
    }
  }

  &__heading ~ &__content {
    margin: $space-2 0;
  }

  &__content {
    overflow: auto;
    height: calc(100% - 120px);
    padding-right: $space-1;
  }

  &__actions {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    padding: $space-2 $space-4 $space-2 $space-4;

    background-color: $color-brand-gray-050;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq($until: mobile) {
      padding: $space-1 $space-2;
    }
  }
}

.c-modal-overlay {
  background-color: rgba($color-brand-gray-600, .8);
  left: 0;
  right: 0;
  z-index: 9000;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}



