@import "../settings/settings";
@import '../tools/mq';

:global {
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
}

.c-modal,
.c-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
}

.c-modal {
  background-color: $color-structural-white;
  z-index: 9030;
  transition: all .3s ease-in-out;

  &--has-padding {
    padding: $space-5 $space-4;

    @include mq($until: tablet) {
      padding: $space-3 $space-2;
    }

    @include mq($until: mobile) {
      padding: $space-2 $space-3;
    }
  }

  &--width-1 {
    width: 530px;
  }

  &--width-2 {
    width: #{map-get($mq-breakpoints, tablet)};
  }

  &--width-3 {
    width: #{map-get($mq-breakpoints, desktop)};
  }

  &--width-4 {
    width: #{map-get($mq-breakpoints, wide)};

    @include mq($until: desktop) {
      width: 100%;
    }
  }

  &--width-5 {
    width: 100%;
  }

  &--width-1,
  &--width-2,
  &--width-3 {
    @include mq($until: tablet) {
      width: 100%;
    }
  }

  form {
    height: 100%;
    padding-bottom: $space-10;
  }

  &__actions {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: $modal-footer-height;
    padding: 0 $space-3;

    background-color: $color-brand-gray-050;

    display: flex;
    align-items: center;

    &--align-end {
      justify-content: flex-end;
    }

    &--align-between {
      justify-content: space-between;
    }

    @include mq($until: mobile) {
      padding: $space-1 $space-2;
    }
  }

  &--pre-left {
    left: -100%;
  }

  &--pre-right {
    right: -100%;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $radius-5;
    .c-modal__actions {
      border-bottom-left-radius: $radius-5;
      border-bottom-right-radius: $radius-5;
    }
  }

  &__heading {
    margin-bottom: $space-2;

    h3 {
      font-weight: 300;
      margin-bottom: $space-1;
    }

    p {
      font-size: 14px;
      color: $color-brand-gray-300;
    }
  }

  &__heading ~ &__content {
    padding: 0 0 $space-6 0;
  }

  &__content {
    overflow: auto;
    height: 100%;
  }

  &__close-btn {
    position: absolute;
    top: $space-2;
    right: $space-2;
    border: none;
    background-color: transparent;
    font-size: $font-size-lg;
    cursor: pointer;
  }
}

.c-modal-overlay {
  background-color: rgba($color-brand-gray-600, .8);
  left: 0;
  right: 0;
  z-index: 9000;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

@include mq($until: mobile) {
  .c-modal {
    &:not(.c-modal--center) {
      height: 100%;
      overflow: auto;
      &__content {
        height: auto;
        overflow: unset;
      }
      &__actions {
        position: fixed;
      }
    }
  }
}
