@import "../settings/settings";
@import "../tools/tools";

$base: 8px;

.c-btn {
  padding: 8px 24px;
  font-weight: bold;
  color: $color-structural-gray-600;
  border-radius: $radius-4;
  cursor: pointer;
  border: solid 1px currentColor;
  box-shadow: $elevation-4;
  white-space: nowrap;
  width: min-content;
  background-position: center;
  transition: background 0.8s;
  flex-direction: column;
  justify-content: center;

  &--size-1 {
    font-size: 10px;
    height: 30px;
    .spinner {
      width: 12px;
      height: 12px;
    }
  }

  &--size-2 {
    font-size: 12px;
    height: 33px;
    .spinner {
      width: 12px;
      height: 12px;
    }
  }

  &--size-3 {
    font-size: 14px;
    height: 35px;
  }

  &--size-4 {
    font-size: 16px;
    height: 37px;
  }

  &--squared {
    border-radius: $radius-2;
  }

  &--outlined {
    background: transparent;
    border: solid 1px currentColor;
    &:hover {
      background: rgba($color-structural-gray-600, .1);
    }
    &:focus {
      background: rgba($color-structural-gray-600, .2);
    }
  }

  &--text {
    background: transparent;
    border: none;
    color: currentColor;
    color: $color-structural-gray-600;
    &:hover {
      border: none;
      background: transparent;
    }
  }

  &:disabled {
    color: $color-brand-gray-300;
    background-color: $color-brand-gray-100;
    border-color: $color-brand-gray-100;
    
    &.c-btn--outlined {
      background: transparent;
      border: solid 1px $color-brand-gray-100;
      &:hover {
        background: rgba($color-brand-gray-100, .1);
      }
      &:focus {
        background: rgba($color-brand-gray-100, .2);
      }
    }
    &.c-btn--text {
      border: none;
      background: transparent;
      color: $color-brand-gray-300;
      &:hover {
        border: none;
        background: transparent;
      }
    }
  }

  &--primary {
    color: $color-white;
    border: 1px solid $color-primary;
    background: $color-brand-primary-300;

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px $color-primary;
      color: $color-primary;
      &:hover {
        background: rgba($color-primary, .1);
      }
      &:focus {
        background: rgba($color-primary, .2);
      }
    }
    &.c-btn--text {
      border: none;
      background: transparent;
      color: $color-primary;
      &:hover {
        border: none;
        background: transparent;
      }
    }
  }

  &--secondary {
    color: $color-white;
    border: 1px solid $color-secondary;
    background: $color-brand-secondary-300;

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px $color-secondary;
      color: $color-secondary;
      &:hover {
        background: rgba($color-secondary, .1);
      }
      &:focus {
        background: rgba($color-secondary, .2);
      }
    }
    &.c-btn--text {
      border: none;
      background: transparent;
      color: $color-secondary;
      &:hover {
        border: none;
        background: transparent;
      }
    }
  }

  &--danger {
    color: $color-white;
    border: solid 1px $color-danger;
    background: $color-danger;

    &:active {
      background-color: lighten($color-danger, 50%);
    }

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px $color-danger;
      color: $color-danger;
      &:hover {
        background: rgba($color-danger, .1);
      }
      &:focus {
        background: rgba($color-danger, .2);
      }
    }
    &.c-btn--text {
      border: none;
      background: transparent;
      color: $color-danger;
      &:hover {
        border: none;
        background: transparent;
      }
    }
  }

  &--success {
    background-color: $color-success;
    border: solid 1px $color-success;
    color: #fff;

    &:hover {
      background-color: lighten($color-success, 10%);
    }

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px $color-success;
      color: $color-success;
      &:hover {
        background: rgba($color-success, .1);
      }
      &:focus {
        background: rgba($color-success, .2);
      }
    }
    &.c-btn--text {
      border: none;
      background: transparent;
      color: $color-success;
      &:hover {
        border: none;
        background: transparent;
      }
    }
  }
}
