@use "../settings/radius";
@use "../settings/spaces";
@use "../settings/colors";
@use "../settings/shadows";

@use "../tools/tools";

.c-image-input {
  display: flex;
  flex-direction: row;

  &__content {
    padding: 2px;
    border: 1px solid black;
    border-radius: radius.$radius-2;
    width: fit-content;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    label+span {
      margin-top: spaces.$space-0;
    }

    label, span {
      margin: 0 spaces.$space-1;
    }
  }

  img {
    max-width: 302px;
  }
}

input[type="file"].c-input {
  display: none
}

.c-image-input__button {
  display: block;
  padding: spaces.$space-1 spaces.$space-3;
  font-weight: bold;
  border-radius: radius.$radius-4;
  cursor: pointer;
  border: 1px solid colors.$color-primary;
  box-shadow: shadows.$elevation-4;
  white-space: nowrap;
  width: min-content;
  background-position: center;
  transition: transform .5s;
  background: colors.$color-brand-primary-300;
  user-select: none;

  svg, span {
    color: colors.$color-white;
  }

  svg+span {
    margin-left: spaces.$space-0;
  }

  &.c-btn--outlined {
    background: transparent;
    border: solid 1px colors.$color-primary;
    color: colors.$color-primary;

    &:hover {
      background: rgba(colors.$color-primary, .1);
    }

    &:focus {
      background: rgba(colors.$color-primary, .2);
    }
  }

  &.c-btn--text {
    border: none;
    background: transparent;
    color: colors.$color-primary;

    &:hover {
      border: none;
      background: transparent;
    }
  }

  &:not(.c-image-input__button--disabled) {
    &:active {
      transform: scale(.92);
    }
  }

  &--disabled {
    color: colors.$color-brand-gray-300;
    background-color: colors.$color-brand-gray-100;
    border-color: colors.$color-brand-gray-100;

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px colors.$color-brand-gray-100;

      &:hover {
        background: rgba(colors.$color-brand-gray-100, .1);
      }

      &:focus {
        background: rgba(colors.$color-brand-gray-100, .2);
      }
    }

    &.c-btn--text {
      border: none;
      background: transparent;
      color: colors.$color-brand-gray-300;

      &:hover {
        border: none;
        background: transparent;
      }
    }
  }
}
