@import "../settings/settings";

.c-file {
  label {
    color: $color-brand-primary-300;
    font-size: $font-size-md;
  }

  input[type="file"] {
    display: none
  }

  span {
    margin-left: $space-1;
  }
}



