@import '../settings/settings';
@import '../tools/tools';

.c-loader {
  display: flex;

  .spinner {
    border: 2px solid $color-brand-primary-300;
    border-top: 2px solid $color-structural-white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  p {
    color: $color-brand-gray-500;
    margin-left: $space-1;
  }
}
