@use "../settings/settings";
@use "../tools/tools";
@use "../settings/colors";
@use "../settings/radius";
@use "../settings/shadows";
@use "../settings/spaces";
@use "../settings/types";



.c-btn {
  padding: spaces.$space-1 spaces.$space-3;
  font-weight: bold;
  color: colors.$color-neutral-secondary-40;
  border-radius: radius.$radius-4;
  cursor: pointer;
  border: solid 1px currentColor;
  box-shadow: shadows.$elevation-4;
  white-space: nowrap;
  width: min-content;
  background-position: center;
  transition: transform .5s;
  font-family: types.$font-family;


  &:active {
    transform: scale(.92);
  }

  &--full-width {
    margin: auto;
    width: 100%;
    justify-content: center;
  }

  &--has-svg {
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: spaces.$space-1;
    }
  }

  &--size-1 {
    font-size: types.$font-size-xs;
    height: 30px;
  }

  &--size-2 {
    font-size: types.$font-size-sm;
    height: 32px;
  }

  &--size-3 {
    font-size: types.$font-size-md;
    height: 34px;
  }

  &--size-4 {
    font-size: types.$font-size-lg;
    height: 36px;
  }

  &--squared {
    border-radius: radius.$radius-2;
  }

  &--outlined {
    background: transparent;
    border: solid 1px currentColor;

    &:hover {
      background: rgba(colors.$color-neutral-secondary-40, .1);
    }

    &:focus {
      background: rgba(colors.$color-neutral-secondary-40, .2);
    }
  }

  &--text {
    background: transparent;
    border: none;
    box-shadow: none;
    color: colors.$color-neutral-secondary-40;

    &:hover {
      border: none;
      background: transparent;
    }
  }

  &--no-shadow {
    box-shadow: none;
  }

  &--loading {
    border: 1px solid colors.$color-primary;
    background: colors.$color-brand-primary-40;
  }

  &:disabled {
    color: colors.$color-neutral-50;
    background-color: colors.$color-neutral-70;
    border-color: colors.$color-neutral-70;

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px colors.$color-neutral-70;

      &:hover {
        background: rgba(colors.$color-neutral-70, .1);
      }

      &:focus {
        background: rgba(colors.$color-neutral-70, .2);
      }
    }

    &.c-btn--text {
      border: none;
      background: transparent;
      color: colors.$color-neutral-50;

      &:hover {
        border: none;
        background: transparent;
      }
    }

    &.c-btn--loading {
      border: 1px solid colors.$color-primary;
      background: colors.$color-brand-primary-40;
    }
  }

  &--primary {
    color: colors.$color-white;
    border: 1px solid colors.$color-primary;
    background: colors.$color-brand-primary-40;

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px colors.$color-primary;
      color: colors.$color-primary;

      &:hover {
        background: rgba(colors.$color-primary, .1);
      }

      &:focus {
        background: rgba(colors.$color-primary, .2);
      }
    }

    &.c-btn--text {
      border: none;
      background: transparent;
      color: colors.$color-primary;

      &:hover {
        border: none;
        background: transparent;
      }
    }
  }

  &--secondary {
    color: colors.$color-white;
    border: 1px solid colors.$color-secondary;
    background: colors.$color-brand-secondary-80;

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px colors.$color-secondary;
      color: colors.$color-secondary;

      &:hover {
        background: rgba(colors.$color-secondary, .1);
      }

      &:focus {
        background: rgba(colors.$color-secondary, .2);
      }
    }

    &.c-btn--text {
      border: none;
      background: transparent;
      color: colors.$color-secondary;

      &:hover {
        border: none;
        background: transparent;
      }
    }
  }

  &--danger {
    color: colors.$color-white;
    border: solid 1px colors.$color-danger;
    background: colors.$color-danger;

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px colors.$color-danger;
      color: colors.$color-danger;

      &:hover {
        background: rgba(colors.$color-danger, .1);
      }

      &:focus {
        background: rgba(colors.$color-danger, .2);
      }
    }

    &.c-btn--text {
      border: none;
      background: transparent;
      color: colors.$color-danger;

      &:hover {
        border: none;
        background: transparent;
      }
    }
  }

  &--success {
    background-color: colors.$color-success;
    border: solid 1px colors.$color-success;
    color: colors.$color-white;

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px colors.$color-success;
      color: colors.$color-success;

      &:hover {
        background: rgba(colors.$color-success, .1);
      }

      &:focus {
        background: rgba(colors.$color-success, .2);
      }
    }

    &.c-btn--text {
      border: none;
      background: transparent;
      color: colors.$color-success;

      &:hover {
        border: none;
        background: transparent;
      }
    }
  }
}
