@import "../settings/settings";
@import "../tools/tools";

$base: 8px;

.c-btn {
  padding: 8px 24px;
  font-weight: bold;
  color: $color-structural-gray-600;
  border-radius: $radius-4;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border: solid 1px currentColor;
  box-shadow: $elevation-4;
  white-space: nowrap;
  width: min-content;

  &--size-1 {
    font-size: 10px;
    // max-width: 81px;
  }

  &--size-2 {
    font-size: 12px;
    // max-width: 87px;
  }

  &--size-3 {
    font-size: 14px;
    // max-width: 94px;
  }

  &--size-4 {
    font-size: 16px;
    // max-width: 100px;
  }

  &--squared {
    border-radius: $radius-2;
  }

  &--outlined {
    background: transparent;
    border: solid 1px currentColor;
    &:hover {
      background: rgba($color-structural-gray-600, .1);
    }
    &:focus {
      background: rgba($color-structural-gray-600, .2);
    }
  }

  &--text {
    background: transparent;
    border: none;
    color: currentColor;
    color: $color-structural-gray-600;
    &:hover {
      border: none;
      background: transparent;
    }
  }

  &--primary {
    &.c-btn--outlined {
      background: transparent;
      border: solid 1px $color-primary;
      color: $color-primary;
      &:hover {
        background: rgba($color-primary, .1);
      }
      &:focus {
        background: rgba($color-primary, .2);
      }
    }
    &.c-btn--text {
      border: none;
      background: transparent;
      color: $color-primary;
      &:hover {
        border: none;
        background: transparent;
      }
    }
    color: $color-white;
    border: 1px solid $color-primary;
    background: $gradient-brand-primary-300-100-0;

    &:hover {
      background: $gradient-brand-primary-300-100-180;
    }
  }

  &--secondary {
    color: $color-white;
    border: 1px solid $color-secondary;
    background: $gradient-brand-secondary-300-100-0;

    &:hover {
      background: $gradient-brand-secondary-300-100-180;
    }

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px $color-secondary;
      color: $color-secondary;
      &:hover {
        background: rgba($color-secondary, .1);
      }
      &:focus {
        background: rgba($color-secondary, .2);
      }
    }
    &.c-btn--text {
      border: none;
      background: transparent;
      color: $color-secondary;
      &:hover {
        border: none;
        background: transparent;
      }
    }
  }

  &--danger {
    color: $color-white;
    border: solid 1px $color-danger;
    background: $color-danger;

    &:hover {
      background-color: lighten($color-danger, 10%);
    }

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px $color-danger;
      color: $color-danger;
      &:hover {
        background: rgba($color-danger, .1);
      }
      &:focus {
        background: rgba($color-danger, .2);
      }
    }
    &.c-btn--text {
      border: none;
      background: transparent;
      color: $color-danger;
      &:hover {
        border: none;
        background: transparent;
      }
    }
  }

  &--success {
    background-color: $color-success;
    border: solid 1px $color-success;
    color: #fff;

    &:hover {
      background-color: lighten($color-success, 10%);
    }

    &.c-btn--outlined {
      background: transparent;
      border: solid 1px $color-success;
      color: $color-success;
      &:hover {
        background: rgba($color-success, .1);
      }
      &:focus {
        background: rgba($color-success, .2);
      }
    }
    &.c-btn--text {
      border: none;
      background: transparent;
      color: $color-success;
      &:hover {
        border: none;
        background: transparent;
      }
    }
  }
}
