@import "../settings/types";

.c-text {
  line-height: 20px;

  &--end {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--lg {
    font-size: $font-size-lg;
  }

  &--sm {
    font-size: $font-size-sm;
  }

  &--xs {
    font-size: $font-size-xs;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
