@import '../settings/settings';

.c-select {
  width: 100%;
  &__control,
  &__menu {
    border-radius: $radius-2 !important;
    box-shadow: none !important;
    background-color: $color-structural-white !important;
    border-color: $color-brand-gray-100 !important;
    min-height: 36px !important;

    &:hover,
    &--is-focused,
    &--is-selected {
      border-color: $color-brand-gray-500 !important;
    }
  }

  &__placeholder {
    color: $color-brand-gray-200 !important;
  }

  &__indicators {
    background-color: transparent !important;
    color: red !important;
  }

  &__indicator-separator {
    background-color: transparent !important;
    width: 0 !important;
  }

  &__single-value {
    color: $color-brand-gray-500 !important;
  }

  &__value-container {
    padding: 0 $space-2 !important;
  }

  &__menu-list {
    border-radius: $radius-2;
    box-shadow: $elevation-4 !important;
    border: solid 1px $color-brand-gray-400;
  }

  &__option {
    cursor: pointer !important;
    transition: all .3s ease-in-out;
    color: $color-brand-gray-200 !important;
    background-color: transparent;

    &:hover,
    &--is-focused,
    &--is-selected {
      background-color: transparent !important;
    }

    &:hover {
      color: $color-brand-gray-300 !important;
    }

    &--is-selected {
      color: $color-brand-gray-500 !important;
    }
  }


  &__indicator {
    svg {
      display: none;
    }

    &:after {
      content: '\f0dd';
      font-size: $font-size-md;
      position: absolute;
      color: $color-brand-gray-300;
      font-family: $font-family-awesome-5-pro;
      font-weight: 900;
      top: 0;
      right: 0;
      background-color: transparent;
      padding: $space-1 $space-2;
    }
  }

  &--dark {
    &__control {
      border-radius: $radius-2 !important;
      box-shadow: none !important;
      background-color: $color-brand-gray-600 !important;

      &:hover,
      &--is-focused,
      &--is-selected {
        border-color: $color-structural-white !important;
      }
    }

    &__menu {
      border-radius: $radius-2 !important;
      box-shadow: none !important;
      background-color: $color-brand-gray-400 !important;
    }

    &__single-value,
    &__placeholder {
      color: $color-structural-white !important;
    }

    &__indicators {
      background-color: transparent !important;
      color: red !important;
    }

    &__indicator-separator {
      background-color: transparent !important;
      width: 0 !important;
    }

    &__value-container {
      padding: 0 $space-2 !important;
    }

    &__menu-list {
      border-radius: $radius-2;
      overflow: hidden;
    }

    &__option {
      cursor: pointer !important;
      transition: all .3s ease-in-out;
      color: $color-brand-gray-200 !important;
      background-color: transparent !important;
      border-color: $color-structural-white !important;

      &:hover,
      &--is-focused,
      &--is-selected {
        background-color: transparent !important;
        border-color: $color-structural-white !important;
      }

      &:hover {
        color: $color-brand-gray-100 !important;
        border-color: $color-structural-white !important;
      }

      &--is-selected {
        color: $color-structural-white !important;
      }
    }

    &__indicator {
      svg {
        display: none;
      }

      &:after {
        content: '\f0dd';
        font-size: $font-size-md;
        position: absolute;
        color: $color-structural-white;
        font-family: $font-family-awesome-5-pro;
        font-weight: 900;
        top: 0;
        right: 0;
        background-color: transparent;
        padding: $space-1 $space-2;
      }
    }
  }
}
