@use '../settings/settings';
@use '../tools/tools';
@use "../settings/colors";
@use "../settings/spaces";


.c-loader {
  display: flex;

  .spinner {
    border: 2px solid colors.$color-brand-primary-40;
    border-top: 2px solid colors.$color-white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

    &--small {
      width: 12px;
      height: 12px;
    }
  }

  p {
    color: colors.$color-neutral-30;
    margin-left: spaces.$space-1;
  }
}
