@import "../settings/types";
@import "../settings/colors";

.c-text {
  line-height: 20px;

  &--fill {
    width: 100%;
  }

  &--end {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--lg {
    font-size: $font-size-lg;
  }

  &--sm {
    font-size: $font-size-sm;
  }

  &--xs {
    font-size: $font-size-xs;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--primary {
    color: $color-primary;
  }

  &--danger {
    color: $color-danger;
  }

  &--success {
    color: $color-success;
  }

  &--warning {
    color: $color-warning;
  }

  &--gray-light {
    color: $color-brand-gray-300;
  }

  &--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--thin {
    font-weight: 300;
  }

  &--regular {
    font-weight: 500;
  }
}
