@import "../settings/settings";

.elevation {
  &--4dp {
    box-shadow: $elevation-4dp;
  }

  &--8dp {
    box-shadow: $elevation-8dp;
  }

  &--16dp {
    box-shadow: $elevation-16dp;
  }

  &--24dp {
    box-shadow: $elevation-24dp;
  }

  &--32dp {
    box-shadow: $elevation-32dp;
  }
}
