@use "../settings/types";
@use "../settings/colors";
@use "../settings/radius";
@use "../settings/spaces";
@use "../settings/shadows";


.c-file {
  label {
    font-size: types.$font-size-md;
    cursor: pointer;
  }

  input[type="file"] {
    display: none
  }

  &__empty, &__content {
    display: flex;
    padding: spaces.$space-2;
    border-radius: radius.$radius-2;
    img, svg {
      margin-right: spaces.$space-2;
    }
  };

  &__content {
    border: 1px solid colors.$color-brand-primary-300;
  }

  &__empty {
    border: 2px dashed colors.$color-brand-gray-100;
    padding: calc(#{spaces.$space-2} + 5px) spaces.$space-2;
  }

  &__empty > &__text {
    display: flex;
    align-items: center;
  }

  &__text {
    color: colors.$color-brand-gray-300;
    &--primary {
      color: colors.$color-brand-primary-300;
    }
    &--align-center {
      display: flex;
      align-items: center;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      padding: 0;
      height: spaces.$space-2;
    }
  }

  &--disabled {
    .c-file__text, svg {
      color: colors.$color-brand-gray-100 !important;
    }
  }

  &__button {
    button {
      padding: 0;
    }

    label {
      font-size: inherit;
      padding: spaces.$space-1 spaces.$space-3;
      cursor: pointer;
      color: inherit;
      margin-bottom: inherit;
      font-weight: inherit;
    }
  }
}



