@use "../settings/types";
@use "../settings/colors";


.c-text {
  line-height: normal;

  &--fill {
    width: 100%;
  }

  &--end {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--lg {
    font-size: types.$font-size-lg;
  }

  &--sm {
    font-size: types.$font-size-sm;
  }

  &--xs {
    font-size: types.$font-size-xs;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--primary {
    color: colors.$color-primary;
  }

  &--danger {
    color: colors.$color-danger;
  }

  &--success {
    color: colors.$color-success;
  }

  &--warning {
    color: colors.$color-warning;
  }

  &--gray-100 {
    color: colors.$color-neutral-70;
  }

  &--gray-200 {
    color: colors.$color-neutral-60;
  }

  &--gray-300 {
    color: colors.$color-neutral-50;
  }

  &--gray-400 {
    color: colors.$color-neutral-40;
  }

  &--gray-500 {
    color: colors.$color-neutral-30;
  }

  &--gray-600 {
    color: colors.$color-neutral-20;
  }

  &--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--light {
    font-weight: 300;
  }

  &--regular {
    font-weight: 400;
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: bold;
  }
}
