@import "../settings/settings";

.c-list-item {
  padding: $space-md $space-xlg;
  background-color: $color-white;
  border-radius: $radius-lg;
  box-shadow: $color-box-shadow-2;

  & + .c-list-item {
    margin-top: $space-sm;
  }
}
