@import '../settings/settings';

.c-input {
  width: 100%;
  height: $input-height;
  border: 1px solid $color-brand-gray-100;
  padding: 0 $space-2;
  border-radius: $radius-2;
  box-shadow: $elevation-4;

  &--disabled {
    background-color: $color-brand-gray-100;
  }

  &--dark {
    color: $color-structural-white;
    background-color: $color-brand-gray-600;
    border: 1px solid $color-structural-white;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color-structural-gray-400;
      opacity: 1; /* Firefox */
    }

    &:focus {
      color: $color-structural-white;
      border: 1px solid $color-structural-white;
    }

    &:-webkit-autofill {
      color: $color-structural-white;
      border: 1px solid $color-structural-white;
      -webkit-text-fill-color: $color-structural-white;
      -webkit-box-shadow: 0 0 0 1000px $color-brand-gray-600 inset;
      transition: background-color 5000s ease-in-out 0s;

      &:focus {
        border: 1px solid $color-structural-white;
      }
    }
  }

  &__checkbox {
    width: $space-3;
    height: $space-3;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: $space-0;
    border: 1px solid $color-brand-primary-300;
    padding: 0;

    &:focus {
      border: 1px solid $color-brand-primary-300;
    }

    &:checked {
      &:after {
        width: $space-3;
        height: $space-3;
        border-radius: $space-0;
        content: '\f00c';
        position: absolute;
        background-color: $color-brand-primary-300;
        color: $color-structural-white;
        font-family: 'Font Awesome 5 Pro';
        top: 3px;
        left: 4px;
        padding: 5px 6px;
      }
    }

    &--disabled {
      border: 1px solid $color-brand-gray-100;

      &:checked {
        &:after {
          background-color: $color-brand-gray-100;
          color: $color-brand-gray-300;
        }
      }
    }
  }

  &__radio {
    width: $space-3;
    height: $space-3;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: $space-4;
    border: 1px solid $color-brand-primary-300;
    padding: 0;

    &:focus {
      border: 1px solid $color-brand-primary-300;
    }

    &:checked {
      &:before {
        content: '';
        position: absolute;
        width: $space-3;
        height: $space-3;
        border: 1px solid $color-brand-primary-300;
        border-radius: 100%;
        background: $color-structural-white;
        left: 4px;
        top: 3px;
      }
      &:after {
        content: '';
        width: 18px;
        height: 18px;
        background-color: $color-brand-primary-300;
        position: absolute;
        top: 6px;
        left: 7px;
        border-radius: 100%;
        transition: all 0.2s ease;
      }
    }

    &--disabled {
      border: 1px solid $color-brand-gray-200;
      background-color: $color-brand-gray-100;
      &:checked {
        &:before {
          border: 1px solid $color-brand-gray-300;
          background-color: $color-brand-gray-100;
        }
        &:after {
          background-color: $color-brand-gray-300;
        }
      }
    }
  }

  &:focus {
    border: 1px solid CurrentColor;
  }
}
