@import "../settings/settings";
@import "../tools/tools";

.c-card-item {
  display: flex;
  align-items: center;
  margin-right: $space-5;

  @include mq($until: tablet) {
    margin-right: $space-3;
  }

  @include mq($until: mobile) {
    margin-right: $space-2;
  }

  svg {
    font-size: 16px;
  }

  svg + div {
    margin-left: $space-2;

    @include mq($until: mobile) {
      margin-left: $space-1;
    }
  }

  span {
    font-weight: 300;
  }

  &--default {
    span {

      &:nth-child(1) {
        line-height: 17px;
      }
      &:nth-child(2) {
        line-height: 20px;
      }
    }
  }


  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    span {
      &:nth-child(1) {
        font-size: $font-size-sm;
        color: $color-brand-gray-300;
      }
    }
  }

  &--lb-primary {
    span {
      &:nth-child(1) {
        color: $color-primary;
      }
    }
  }

  &--val-primary {
    span {
      &:nth-child(2) {
        color: $color-primary;
      }
    }
  }

  &--svg-primary {
    svg {
      color: $color-primary;
    }
  }

  &--lb-white {
    span {
      &:nth-child(1) {
        color: $color-white;
      }
    }
  }

  &--val-white {
    span {
      &:nth-child(2) {
        color: $color-white;
      }
    }
  }

  &--svg-white {
    svg {
      color: $color-white;
    }
  }

  &--lb-gray {
    span {
      &:nth-child(1) {
        color: $color-brand-gray-500;
      }
    }
  }

  &--ellipsis {
    .truncate {
      display: inline;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &--small {
    span {
      &:nth-child(1) {
        line-height: 15px;
      }
      &:nth-child(2) {
        line-height: 17px;
      }

      &:nth-child(1) {
        font-size: $font-size-xs;
        color: $color-brand-gray-300;
      }

      &:nth-child(2) {
        font-size: $font-size-sm;
      }
    }
  }
}
