@import '../settings/settings';

.c-select {
  width: 100%;

  &--default, &--small {
    &__control,
    &__menu {
      background-color: $color-structural-white !important;
      border-color: $color-brand-gray-100 !important;

      &:hover,
      &--is-focused,
      &--is-selected {
        border-color: $color-brand-gray-500 !important;
      }
    }

    &__placeholder {
      color: $color-brand-gray-200 !important;
    }

    &__single-value {
      color: $color-brand-gray-500 !important;
      margin: 0!important;
    }

    &__menu-list {
      box-shadow: $elevation-4 !important;
      background-color: $color-white;
      border: solid 1px $color-brand-gray-400;
    }

    &__option {
      &:hover {
        color: $color-brand-gray-500 !important;
      }

      &--is-selected {
        color: $color-brand-gray-500 !important;
      }
    }

    &__indicator {
      &:after {
        color: $color-brand-gray-300;
      }
    }
  }

  &--dark, &--small-dark {
    &__control {
      background-color: $color-brand-gray-600 !important;

      &:hover,
      &--is-focused,
      &--is-selected {
        border-color: $color-structural-white !important;
      }
    }

    &__menu, &__menu-list {
      background-color: $color-brand-gray-400 !important;
    }

    &__single-value, &__input {
      color: $color-structural-white !important;
    }

    &__placeholder {
      color: $color-brand-gray-200 !important;
    }

    &__option {
      border-color: $color-structural-white !important;

      &--is-focused,
      &--is-selected {
        border-color: $color-brand-gray-500 !important;
      }

      &:hover {
        color: $color-structural-white !important;
        border-color: $color-structural-white !important;
      }

      &--is-selected {
        color: $color-structural-white !important;
      }
    }

    &__indicator {
      &:after {
        position: absolute;
      }
    }
  }

  &--small,
  &--small-dark,
  &--default,
  &--dark {
    &__control,
    &__menu {
      border-radius: $radius-2 !important;
      box-shadow: none !important;
      transition: all .3s ease-in-out !important;
    }

    &__indicators {
      background-color: transparent !important;
      color: red !important;
    }

    &__indicator-separator {
      background-color: transparent !important;
      width: 0 !important;
    }

    &__value-container {
      padding: 0 $space-2 !important;
    }

    &__single-value {
      font-weight: 300 !important;
    }

    &__menu-list {
      border-radius: $radius-2;
      overflow: hidden;
    }

    &__option {
      cursor: pointer !important;
      transition: all .3s ease-in-out;
      color: $color-brand-gray-200 !important;
      background-color: transparent;

      &:hover,
      &--is-focused,
      &--is-selected {
        background-color: transparent !important;
      }
    }

    &__indicator {
      svg {
        display: none;
      }

      &:after {
        content: '\f0dd';
        font-size: $font-size-md;
        position: absolute;
        font-family: $font-family-awesome-5-pro;
        font-weight: 900;
        top: 0;
        right: 0;
        background-color: transparent;
        padding: $space-1 $space-2;
      }
    }
  }

  &--default,
  &--dark {
    &__control,
    &__menu {
      min-height: 36px !important;
    }
  }

  &--small, &--small-dark {
    &__control,
    &__menu {
      border-radius: $radius-2 !important;
    }

    &__control,
    &__menu,
    &__value-container {
      min-height: 23px !important;
      height: 23px !important;
    }

    &__indicator {
      &:after {
        top: -7px;
        right: -4px;
      }
    }

    &__placeholder {
      top: 11px !important;
      margin: 0 !important;
    }

    &__value-container {
      padding: 0 $space-1 !important;
    }

    &__single-value, &__placeholder {
      font-size: $font-size-sm;
      color: $color-white !important;
      top: 11px !important;
      margin: 0 !important;
    }
  }
}

.css-b8ldur-Input {
  margin: 0 !important;;
  padding-bottom: 0 !important;;
  height: 100% !important;
}
