@use "../settings/types";
@use "../settings/colors";
@use "../settings/radius";
@use "../settings/spaces";
@use "../settings/shadows";


.c-file {
  label {
    font-size: types.$font-size-md;
    cursor: pointer;
  }

  svg {
    color: colors.$color-brand-primary-300;
  }

  input[type="file"] {
    display: none
  }

  &__empty, &__content {
    display: flex;
    padding: spaces.$space-2;
    border-radius: radius.$radius-2;
    img, svg {
      margin-right: spaces.$space-2;
    }
  };

  &__content {
    border: 1px solid colors.$color-brand-primary-300;
  }

  &__empty {
    border: 2px dashed colors.$color-brand-gray-100;
    padding: calc(#{spaces.$space-2} + 5px) spaces.$space-2;
  }

  &__empty > &__text {
    display: flex;
    align-items: center;
  }

  &__text {
    color: colors.$color-brand-gray-300;
    &--primary {
      color: colors.$color-brand-primary-300;
    }
    &--align-center {
      display: flex;
      align-items: center;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      padding: 0;
      height: spaces.$space-2;
    }
  }

  &--disabled {
    .c-file__text, svg {
      color: colors.$color-brand-gray-100 !important;
    }
  }

  &__button {
    display: block;
    color: #fff;
    padding: spaces.$space-1 spaces.$space-3;
    font-weight: bold;
    border-radius: radius.$radius-4;
    cursor: pointer;
    border: 1px solid colors.$color-primary;
    box-shadow: shadows.$elevation-4;
    white-space: nowrap;
    width: min-content;
    background-position: center;
    transition: transform .5s;
    background: colors.$color-brand-primary-300;
    user-select: none;

    span {
      font-size: types.$font-size-sm;
    }

    svg, span {
      color: colors.$color-white;
    }

    svg+span {
      margin-left: spaces.$space-0;
    }

    &:not(.c-file__button--disabled) {
      &:active {
        transform: scale(.92);
      }
    }

    &--disabled {
      background-color: colors.$color-brand-gray-100;
      border-color: colors.$color-brand-gray-100;

      svg, span {
        color: #fff !important;
      }

      &.c-btn--outlined {
        background: transparent;
        border: solid 1px colors.$color-brand-gray-100;

        &:hover {
          background: rgba(colors.$color-brand-gray-100, .1);
        }

        &:focus {
          background: rgba(colors.$color-brand-gray-100, .2);
        }
      }
    }
  }
}



