@import "../../styles/settings/settings";

.c-card {
  list-style: none;
  padding: $space-md $space-xlg;
  background-color: $color-white;
  border-radius: $radius-lg;
  box-shadow: $color-box-shadow-2;

  display: flex;
  flex-wrap: wrap;
}
