@import "../settings/spaces";
@import "../settings/colors";
@import "../tools/mq";

.c-list {
  list-style: none;

  a, a:hover, a:focus, a:visited, a:link {
    color: $color-brand-gray-500;
  }

  &--0 {
    > li + li {
      margin-top: $space-0;
    }
  }

  &--1 {
    > li + li {
      margin-top: $space-1;
    }
  }

  &--2 {
    > li + li {
      margin-top: $space-2;
    }
  }

  &--3 {
    > li + li {
      margin-top: $space-3;
    }
  }

  &--4 {
    > li + li {
      margin-top: $space-4;
    }
  }

  &--5 {
    > li + li {
      margin-top: $space-5;
    }
  }

  ul {
    margin-left: $space-8 + 2px;

    @include mq($until: tablet) {
      margin-left: $space-6 + 2px;
    }
  }
}
