@use '../settings/settings';
@use '../tools/mq';
@use "../settings/colors";
@use "../settings/radius";


$initial-size: 28px;
$row-size: 18px;

@for $i from 1 through 20 {
  .c-editor--rows-#{$i} {
    .quill .ql-container {
      height: $initial-size + $row-size * $i;
    }
  }
}


.c-editor {
  height: auto;
  border-radius: radius.$radius-2;

  &--rows-auto {
    height: auto;
  }

  &--full-height {
    height: 100%;

    .quill {
      height: 100%;
    }

    .ql-container .ql-snow {
      height: 100%;
    }

    @include mq.mq($until: tablet) {
      height: auto;
    }
  }

  &--bg-white {
    .ql-editor {
      background-color: colors.$color-white;
      border-bottom-left-radius: radius.$radius-2;
      border-bottom-right-radius: radius.$radius-2;
    }
  }

  .quill {
    div[contenteditable="false"] {
      background-color: colors.$color-neutral-70;
      border-color: colors.$color-neutral-70;
      color: colors.$color-neutral-30;
    }
    .ql-container {
      border-radius: radius.$radius-2;
      border-color: colors.$color-neutral-60;
      overflow: hidden;
    }

    .ql-toolbar ~ .ql-container {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .ql-toolbar {
      background: colors.$color-neutral-90;
      border-top-left-radius: radius.$radius-2;
      border-top-right-radius: radius.$radius-2;
    }

    .ql-editor.ql-blank::before {
      color: colors.$color-neutral-60;
      font-style: unset;
    }
  }
}
