@import "../../styles/settings/settings";
@import "../tools/tools";

.c-card {
  position: relative;
  background-color: $color-white;
  border-radius: $radius-2;
  box-shadow: $elevation-1;

  &--borderless {
    box-shadow: none;
    border: none;
  }

  &__header {
    font-weight: bold;
    padding: $space-2 $space-2;
    background-color: $color-brand-gray-050;
    border-bottom: 1px solid $color-brand-gray-050;
    border-top-left-radius: $radius-3;
    border-top-right-radius: $radius-3;

    &--small {
      padding: $space-1 $space-2;
    }
  }

  &__body {
    padding: $space-2 $space-3;

    &--small {
      padding: $space-1 $space-2;
    }
  }

  &__footer {
    padding: $space-0 $space-2;
    background-color: $color-brand-gray-050;
    border-top: 1px solid $color-brand-gray-050;
    border-bottom-left-radius: $radius-3;
    border-bottom-right-radius: $radius-3;

    &--small {
      padding: $space-1 $space-2;
    }
  }
}
