@use "../settings/spaces";
@use "../settings/colors";
@use "../tools/mq";

.c-list {
  list-style: none;

  a, a:hover, a:focus, a:visited, a:link {
    color: colors.$color-neutral-40;
  }

  &--clickable {
    > li {
      cursor: pointer;
    }
  }

  &--0 {
    > li + li {
      margin-top: spaces.$space-0;
    }
  }

  &--1 {
    > li + li {
      margin-top: spaces.$space-1;
    }
  }

  &--2 {
    > li + li {
      margin-top: spaces.$space-2;
    }
  }

  &--3 {
    > li + li {
      margin-top: spaces.$space-3;
    }
  }

  &--4 {
    > li + li {
      margin-top: spaces.$space-4;
    }
  }

  &--5 {
    > li + li {
      margin-top: spaces.$space-5;
    }
  }

  ul {
    margin-left: spaces.$space-4 + 3px;

    @include mq.mq($until: tablet) {
      margin-left: spaces.$space-4;
    }

    @include mq.mq($until: mobile) {
      margin-left: spaces.$space-2;
    }
  }
}
