@use "../settings/settings";
@use "../tools/tools";
@use "../settings/colors";
@use "../settings/gradients";
@use "../settings/radius";
@use "../settings/shadows";
@use "../settings/spaces";
@use "../settings/types";
@use "../tools/mq";


.c-card-select {
  display: flex;
  flex-wrap: wrap;

  &--flex-row {
    flex-direction: row;
    justify-content: center;
  }

  &--flex-col {
    flex-direction: column;
  }
}

.c-text-option {
  display: flex;
  align-items: center;
  background: colors.$color-brand-primary-050;
  color: colors.$color-brand-primary-300;
  padding: 10px spaces.$space-1;
  margin: spaces.$space-2 spaces.$space-2 0 0;
  border-radius: radius.$radius-2;
  font-size: types.$font-size-lg;
  box-shadow: shadows.$elevation-3;
  &:hover {
    cursor: pointer;
    border: 2px solid colors.$color-brand-primary-300;
    padding: spaces.$space-1 calc(#{spaces.$space-1} - 2px);
  }

  &--checked {
    background: colors.$color-brand-primary-300;
    .c-text-option__title, .c-text-option__checkbox {
      color: #fff;
    }
    .c-text-option__checkbox {
      border: 2px solid #50c9c3;
      background: gradients.$gradient-brand-secondary-300-100-90;
    }
  }

  &__title {
    padding: 0 spaces.$space-1;
    color: colors.$color-brand-primary-300;
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: spaces.$space-3;
    width: spaces.$space-3;
    min-width: spaces.$space-3;
    border-radius: radius.$radius-4;
    top: spaces.$space-1;
    right: spaces.$space-1;
    border: 2px solid colors.$color-brand-primary-300;
  }

  @include mq.mq($until: tablet) {
    margin: spaces.$space-2 spaces.$space-1 0 0;
    font-size: types.$font-size-sm;
  }
};

.c-card-option {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 180px;
  width: 180px;
  padding: 6px;
  margin: spaces.$space-3 spaces.$space-3 0 0;
  border-radius: radius.$radius-2;
  background: colors.$color-brand-primary-050;
  color: colors.$color-brand-primary-300;
  font-size: types.$font-size-lg;
  font-weight: bold;
  transition: .2s;
  box-shadow: shadows.$elevation-3;
  &:hover {
    cursor: pointer;
    border: 2px solid colors.$color-brand-primary-300;
    .c-card-option__checkbox {
      top: spaces.$space-1 - 2;
      right: spaces.$space-1 - 2;
      transition: .2s;
    }
  }

  &--small {
    height: 90px;
    font-size: types.$font-size-md;

    .c-card-option__icon {
      padding: 12px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: spaces.$space-3;
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: spaces.$space-3;
    width: spaces.$space-3;
    border-radius: radius.$radius-4;
    top: spaces.$space-1;
    right: spaces.$space-1;
    border: 2px solid colors.$color-brand-primary-300;
    
    svg {
      display: none;
    }
  }

  &--checked {
    background: colors.$color-brand-primary-300;
    color: #fff;
    .c-card-option__checkbox {
      border: 2px solid #50c9c3;
      background: gradients.$gradient-brand-secondary-300-100-90;
    }

    svg {
      display: block;
    }
  }

  @include mq.mq($until: tablet) {
    margin: spaces.$space-2 spaces.$space-1 0 0;
    width: 95%;
  }
}


.c-card-content-option {
  display: flex;
  position: relative;
  padding: spaces.$space-1;
  margin: spaces.$space-3 spaces.$space-3 0 0;
  border-radius: radius.$radius-2;
  font-size: types.$font-size-lg;
  font-weight: bold;
  transition: .2s;
  border: 2px solid colors.$color-brand-gray-100;

  &:hover {
    cursor: pointer;
    border: 2px solid colors.$color-brand-primary-300;
  }

  &__checkbox {
    justify-content: center;
    align-items: center;
    align-self: center;
    height: spaces.$space-3;
    width: spaces.$space-3;
    border-radius: radius.$radius-4;
    border: 2px solid colors.$color-brand-primary-100;
  }

  &__content {
    padding: spaces.$space-2;
  }

  &--checked {
    border: 2px solid colors.$color-brand-primary-300;
    .c-card-content-option__checkbox {
      border: 2px solid colors.$color-brand-primary-300;
      div {
        height: spaces.$space-2;
        width: spaces.$space-2;
        border-radius: 50%;
        margin: 2px auto;
        background-color: colors.$color-brand-primary-300;;
      }
    }
  }

  @include mq.mq($until: tablet) {
    margin: spaces.$space-2 spaces.$space-1 0 0;
    width: 95%;
  }

  &--disabled {
    &:hover {
      cursor: auto;
      border: 2px solid colors.$color-brand-gray-100;
    }

    .c-card-content-option__checkbox {
      background-color: colors.$color-brand-gray-300;
      border: none;
    }

    img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      filter: colors.$color-brand-gray-100;
      -webkit-filter: grayscale(100%);
    }
  }
}