@import '../settings/settings';
@import '../tools/mq';

$initial-size: 28px;
$row-size: 18px;

@for $i from 1 through 20 {
  .c-editor--rows-#{$i} {
    .quill .ql-container {
      height: $initial-size + $row-size * $i;
    }
  }
}


.c-editor {
  height: auto;
  border-radius: $radius-2;

  &--rows-auto {
    height: auto;
  }

  &--full-height {
    height: calc(100% - 42px);

    .quill {
      height: 100%;
    }

    .ql-container .ql-snow {
      height: calc(100% - 42px);
    }

    @include mq($until: tablet) {
      height: auto;
    }
  }

  &--bg-white {
    .ql-editor {
      background-color: $color-white;
      border-bottom-left-radius: $radius-2;
      border-bottom-right-radius: $radius-2;
    }
  }

  .quill {
    .ql-container {
      border-radius: $radius-2;
      border-color: $color-brand-gray-200;
    }

    .ql-toolbar ~ .ql-container {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .ql-toolbar {
      background: $color-brand-gray-050;
      border-top-left-radius: $radius-2;
      border-top-right-radius: $radius-2;
    }

    .ql-editor.ql-blank::before {
      color: $color-brand-gray-200;
      font-style: unset;
    }
  }
}
