@use "../tools/tools";
@use "../settings/spaces";
@use "../tools/mq";


.c-spacer {
  display: block;

  &--inline {
    display: inline-block;
  }

  @for $size from 0 to 10 {
    @include mq.mq($from: desktop) {
      &--mt-lg-#{$size} {
        margin-top: spaces.$space * $size;
      }

      &--mb-lg-#{$size} {
        margin-bottom: spaces.$space * $size;
      }

      &--ml-lg-#{$size} {
        margin-left: spaces.$space * $size;
      }

      &--mr-lg-#{$size} {
        margin-right: spaces.$space * $size;
      }
    }

    @include mq.mq($from: tablet, $until: desktop) {
      &--mt-md-#{$size} {
        margin-top: spaces.$space * $size;
      }

      &--mb-md-#{$size} {
        margin-bottom: spaces.$space * $size;
      }

      &--ml-md-#{$size} {
        margin-left: spaces.$space * $size;
      }

      &--mr-md-#{$size} {
        margin-right: spaces.$space * $size;
      }
    }

    @include mq.mq($from: mobile, $until: tablet) {
      &--mt-sm-#{$size} {
        margin-top: spaces.$space * $size;
      }

      &--mb-sm-#{$size} {
        margin-bottom: spaces.$space * $size;
      }

      &--ml-sm-#{$size} {
        margin-left: spaces.$space * $size;
      }

      &--mr-sm-#{$size} {
        margin-right: spaces.$space * $size;
      }
    }

    @include mq.mq($until: mobile) {
      &--mt-xs-#{$size} {
        margin-top: spaces.$space * $size;
      }

      &--mb-xs-#{$size} {
        margin-bottom: spaces.$space * $size;
      }

      &--ml-xs-#{$size} {
        margin-left: spaces.$space * $size;
      }

      &--mr-xs-#{$size} {
        margin-right: spaces.$space * $size;
      }
    }
  }
}

