@use "../settings/settings";
@use "../settings/spaces";


.c-form-actions {
  display: flex;
  margin-top: spaces.$space-4;

  &--align-between {
    justify-content: space-between;
  }

  &--align-end {
    justify-content: flex-end;
  }

  button + button {
    margin-left: spaces.$space-1;
  }
}
