@use "../settings/colors";
@use "../settings/spaces";
@use "../tools/tools";

.c-list-item-content {
  padding-bottom: spaces.$space-2;

  @include mq($until: tablet) {
    padding-bottom: spaces.$space-1;
  }

  @include mq($until: mobile) {
    padding-bottom: spaces.$space-0;
  }

  &__default {
    display: flex;
    flex: 1;
    border-bottom: solid 1px transparent;

    &--border {
      border-bottom: solid 1px colors.$color-brand-gray-050;
    }
  }

  &__action {
    padding-right: spaces.$space-2;
    border-bottom: solid 1px transparent;
  }
}
