@use "../../styles/settings/settings";
@use "../tools/tools";
@use "../settings/colors";
@use "../settings/radius";
@use "../settings/shadows";
@use "../settings/spaces";


.c-card {
  position: relative;
  background-color: colors.$color-white;
  border-radius: radius.$radius-2;
  box-shadow: shadows.$elevation-1;

  &--borderless {
    box-shadow: none;
    border: none;
  }

  &__header {
    font-weight: bold;
    padding: spaces.$space-2 spaces.$space-2;
    background-color: colors.$color-neutral-90;
    border-bottom: 1px solid colors.$color-neutral-90;
    border-top-left-radius: radius.$radius-3;
    border-top-right-radius: radius.$radius-3;

    &--small {
      padding: spaces.$space-1 spaces.$space-2;
    }
  }

  &__body {
    padding: spaces.$space-2 spaces.$space-3;

    &--small {
      padding: spaces.$space-1 spaces.$space-2;
    }
  }

  &__footer {
    padding: spaces.$space-0 spaces.$space-2;
    background-color: colors.$color-neutral-90;
    border-top: 1px solid colors.$color-neutral-90;
    border-bottom-left-radius: radius.$radius-3;
    border-bottom-right-radius: radius.$radius-3;

    &--small {
      padding: spaces.$space-1 spaces.$space-2;
    }
  }
}
