@import "../../styles/settings/settings";

.c-card {
  list-style: none;
  padding: $space-3 $space-5;
  background-color: $color-white;
  border-radius: $radius-3;
  box-shadow: $elevation-1;

  display: flex;
  flex-wrap: wrap;
}
