@import '../settings/settings';
@import "../tools/tools";

.c-filter {
  background-color: $color-brand-gray-600;
  border-radius: $radius-2;
  overflow: hidden;

  &__header {
    background: linear-gradient(-116.56505117707799deg, rgb(108, 119, 150) 0%, rgb(75, 84, 110) 100%);
    width: 100%;
    padding: 12px 24px;
    color: $color-structural-white;
    font-size: 12px;
    font-weight: bold;
    border-radius: $radius-2;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    span {
      margin-left: $space-1;
    }
  }

  label {
    color: $color-brand-gray-300;
  }

  &__content {
    max-height: 0;
    transition: all 0.3s ease;

    &--open {
      padding: $space-4 $space-3 $space-3 $space-3;
      max-height: 1000px;
      transition: all 0.3s ease;
    }
  }

  :global {
    .FormActions_c-form-actions__3rqgb {
      margin-top: $space-3;
    }

    .Filter_header__tmFgA {
      .row {
        div {
          &:nth-child(2) {
            text-align: center;
          }

          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}
