@import '../settings/settings';
@import "../tools/tools";


.c-filter {
  background-color: $color-brand-gray-600;
  border-radius: $radius-2;

  &__header {
    background: linear-gradient(-116.56505117707799deg, rgb(108, 119, 150) 0%, rgb(75, 84, 110) 100%);
    width: 100%;
    height: $filter-height;
    padding: 0 $space-3;
    color: $color-structural-white;
    font-size: 12px;
    font-weight: bold;
    border-radius: $radius-2;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      margin-right: $space-1;
    }
  }

  label {
    color: $color-brand-gray-300;
  }

  &__content {
    max-height: 0;
    transition: all 0.3s ease;

    &--open {
      padding: $space-4 $space-3;

      @include mq($until: desktop) {
        padding: $space-2 $space-0;
      }

      max-height: 1000px;
      transition: all 0.3s ease;
    }
  }
}
