/////BRAND COLORS
$color-brand-primary-0: #000F27;
$color-brand-primary-10: #001A43;
$color-brand-primary-20: #002E6C;
$color-brand-primary-30: #004396;
$color-brand-primary-40: #005AC3;
$color-brand-primary-50: #2F74DE;
$color-brand-primary-60: #4F8EFA;
$color-brand-primary-70: #7EABFF;
$color-brand-primary-80: #ACC7FF;
$color-brand-primary-90: #D6E2FF;
$color-brand-primary-95: #EBF0FF;
$color-brand-primary-99: #FBFBFF;

$color-brand-secondary-0: #001513;
$color-brand-secondary-10: #00201D;
$color-brand-secondary-20: #003732;
$color-brand-secondary-30: #005049;
$color-brand-secondary-40: #006A61;
$color-brand-secondary-50: #00867B;
$color-brand-secondary-60: #00A296;
$color-brand-secondary-70: #00C0B2;
$color-brand-secondary-80: #00DECF;
$color-brand-secondary-90: #49FBEB;
$color-brand-secondary-95: #B0FFF6;
$color-brand-secondary-99: #FBFFFD;

// FEEDBACK COLORS

$color-success-0: #002707;
$color-success-10: #004B0E;
$color-success-20: #006B14;
$color-success-30: #308E24;
$color-success-40: #46A22E;
$color-success-50: #5BB638;
$color-success-60: #6AC640;
$color-success-70: #82CF5E;
$color-success-80: #99D87C;
$color-success-90: #B7E3A2;
$color-success-95: #D4EEC6;
$color-success-99: #F5FFEE;

$color-error-0: #220001;
$color-error-10: #410001;
$color-error-20: #680003;
$color-error-30: #930006;
$color-error-40: #BA1B1B;
$color-error-50: #DD3730;
$color-error-60: #FF5449;
$color-error-70: #FF897A;
$color-error-80: #FFB4A9;
$color-error-90: #FFDAD4;
$color-error-95: #FFEDE9;
$color-error-99: #FFFBFB;

$color-warning-0: #150C00;
$color-warning-10: #2A1800;
$color-warning-20: #462A00;
$color-warning-30: #643F00;
$color-warning-40: #845400;
$color-warning-50: #A56A00;
$color-warning-60: #C48319;
$color-warning-70: #E29D34;
$color-warning-80: #FFB951;
$color-warning-90: #FFDDB2;
$color-warning-95: #FFEEDA;
$color-warning-99: #FFFFFB;

$color-warning-secondary-0: #150900;
$color-warning-secondary-10: #301400;
$color-warning-secondary-20: #4F2500;
$color-warning-secondary-30: #703800;
$color-warning-secondary-40: #944B00;
$color-warning-secondary-50: #B85F00;
$color-warning-secondary-60: #DE7400;
$color-warning-secondary-70: #FF8E1B;
$color-warning-secondary-80: #FFB77E;
$color-warning-secondary-90: #FFDCC3;
$color-warning-secondary-95: #FFEDE1;
$color-warning-secondary-99: #FFFDFB;

//SUPPORT COLORS

$color-neutral-0: #0A101C;
$color-neutral-10: #131B2C;
$color-neutral-20: #283041;
$color-neutral-30: #3F4759;
$color-neutral-40: #565E71;
$color-neutral-50: #6F778B;
$color-neutral-60: #8A94AD;
$color-neutral-70: #A6AFC7;
$color-neutral-80: #CFD5E7;
$color-neutral-90: #E3E8F6;
$color-neutral-95: #F5F7FD;
$color-neutral-99: #FBFBFD;

$color-neutral-secondary-10: #1B1B1F;
$color-neutral-secondary-20: #303034;
$color-neutral-secondary-30: #46464A;
$color-neutral-secondary-40: #5E5E62;
$color-neutral-secondary-50: #76777A;
$color-neutral-secondary-60: #909194;
$color-neutral-secondary-70: #AAAAAE;
$color-neutral-secondary-80: #C5C5CA;
$color-neutral-secondary-90: #E1E1E6;
$color-neutral-secondary-95: #F0F1F5;
$color-neutral-secondary-99: #FCFCFC;

$color-white: #ffffff;
$color-black: #000000;
$color-primary: $color-brand-primary-40;
$color-secondary: $color-brand-secondary-80;
$color-danger: $color-error-50;
$color-success: $color-success-70;
$color-warning: $color-warning-80;
