@import './colors';

$base: 8px;

$elevation-4dp: 0 ($base/2) $base 0 rgba($color-black,0.08);
$elevation-8dp: 0 $base ($base * 2) 0 rgba($color-black,0.08);
$elevation-16dp: 0 ($base * 2) ($base * 3) 0 rgba($color-black,0.08);
$elevation-24dp: 0 ($base * 3) ($base * 4) 0 rgba($color-black,0.08);
$elevation-32dp: 0 ($base * 4) ($base * 5) 0 rgba($color-black,0.08);
