@import '../tools/tools';
@import './colors';

h1 {
  font-family: $font-family-secondary;
  font-size: 42px;
}

h2 {
  font-family: $font-family-secondary;
  font-size: 34px;
}

h3 {
  font-family: $font-family-secondary;
  font-size: 28px;
}

h4 {
  font-family: $font-family-secondary;
  font-size: 22px;
}

h5 {
  font-family: $font-family-secondary;
  font-size: 20px;
}

label {
  @extend %small;
  color: $color-brand-gray-500;
}

small {
  @extend %small;
  color: $color-brand-gray-500;
}