@import "../settings/settings";

%large, %paragraph, %medium, %small {
  font-family: $font-family;
}

%large {
  font-size: $font-size-lg
}

%paragraph {
  font-size: $font-size-md
}

%small {
  font-size: $font-size-sm;
}

%extra-small {
  font-size: $font-size-xs;
}
