@use "../settings/settings";
@use "../settings/types";


%large, %paragraph, %medium, %small {
  font-family: types.$font-family;
}

%large {
  font-size: types.$font-size-lg
}

%paragraph {
  font-size: types.$font-size-md
}

%small {
  font-size: types.$font-size-sm;
}

%extra-small {
  font-size: types.$font-size-xs;
}
