@use "../settings/settings";
@use "../tools/tools";
@use "../settings/colors";


a {
  @extend %medium;
  color: colors.$color-brand-primary-40;
  font-weight: normal;
  line-height: 18px;

  &:hover, &:link {
    color: colors.$color-brand-primary-40;
    text-decoration: none;
  }
}
