@import "../settings/settings";

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}
