@use "../settings/settings";
@use "../settings/types";
@use "../settings/colors";


h1, h2, h3, h4, h5, h6 {
  font-family: types.$font-family;
  color: colors.$color-neutral-30;
}

h1 {
  font-size: 96px;
  font-weight: 500;
}

h2 {
  font-size: 60px;
  font-weight: 600;
}

h3 {
  font-size: 48px;
  font-weight: 600;
}

h4 {
  font-size: 34px;
  font-weight: 500;
}

h5 {
  font-size: 24px;
  font-weight: 500;
}

h6 {
  font-size: 20px;
  font-weight: 500;
}
