@import '../tools/tools';
@import "../settings/settings";

input {
  @extend %paragraph;
  color: $color-brand-gray-500;

  &::placeholder {
    color: $color-brand-gray-200;
  }

  transition: border-color .3s ease-in-out;
}
