@use '../tools/tools';
@use "../settings/settings";
@use "../settings/colors";


input {
  @extend %paragraph;
  color: colors.$color-neutral-30;

  &::placeholder {
    color: colors.$color-neutral-60;
  }

  transition: border-color .3s ease-in-out;
}
