@use "../settings/settings";
@use "../tools/tools";
@use "../settings/colors";
@use "../settings/spaces";


label {
  @extend %small;
  color: colors.$color-brand-gray-300;
  margin-bottom: spaces.$space-0;
  font-weight: 300;
}
